@model M3dina.Models.PatientDetails
@{ 
ViewBag.Title = "Patient Profile"; 
ViewBag.Current = "Patient";
Layout = "~/Views/Shared/_Layout.cshtml";

} 
@{ 
var patientdetails = (PatientDetails)ViewData["Patient"];
}
<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Patient Profile</h2>
            <small class="text-muted">Welcome to adminX application</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class=" card patient-profile">
                    <img src="assets/images/image-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="card xl-khaki">
                    <div class="header xl-khaki">
                        <h2>About Patient</h2>
                    </div>
                    <div class="body">
                        <strong>Name</strong>
                        <p> @patientdetails.Patient.GivenName @patientdetails.Patient.FamilyName</p>
                        <strong>Gender</strong>
                        <p> @patientdetails.Patient.Gender</p>
                        <strong>BirthDate</strong>
                        <p> @patientdetails.Patient.BirthDate</p>
                        <strong>Email ID</strong>
                        <p> @patientdetails.PatientContact.Email</p>
                        <strong>Phone</strong>
                        <p> @patientdetails.PatientContact.CellPhone</p>
                        <hr>
                        <strong>Address</strong>
                        <address>  @patientdetails.PatientAddress.AddressLine1   @patientdetails.PatientAddress.AddressLine2   @patientdetails.PatientAddress.City,   @patientdetails.PatientAddress.State   @patientdetails.PatientAddress.PostalCode</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#report">Biography</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#report-chart">ECG Report</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active" id="report">
                                <div class="wrap-reset">
                                    <div class="mypost-list">
                                        <div class="post-box">
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                                        </div>
                                        <hr>
                                        <div class="post-box">
                                            <h4>General Report</h4>
                                            <div class="body">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div>Blood Pressure</div>
                                                        <div class="progress m-b-20">
                                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>Heart Beat</div>
                                                        <div class="progress m-b-20">
                                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> <span class="sr-only">20% Complete</span> </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>Haemoglobin</div>
                                                        <div class="progress m-b-20">
                                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>Sugar</div>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Complete (danger)</span> </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="body">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#advanceddirective">Advanced Directives</a></li>
                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#functionalstatus">Functional Status</a></li>
                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#problems">Problems</a></li>
                                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#history">Family History</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">

                                                <div role="tabpanel" class="table-responsive tab-pane in active" id="advanceddirective">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Directive</th>
                                                                <th>Description</th>
                                                                <th>Verification</th>
                                                                <th>Supporting Document</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in patientdetails.advancedDirectives) {

                                                            <tr>

                                                                <td>@item.Directive</td>
                                                                <td><span class="text-info">@item.Description</span></td>

                                                                <td>@item.Verification</td>
                                                                <td><span class="label label-warning">@item.SupportingDocument</span></td>

                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="functionalstatus">
                                                   
                                                   <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Functional Condition</th>
                                                                <th>Effective Dates</th>
                                                                <th>Condition Status</th>
                                                                

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in patientdetails.FunctionalStatus) {

                                                            <tr>

                                                                <td>@item.FunctionalCondition</td>
                                                                <td><span class="text-info">@item.EffectiveDates</span></td>

                                                                
                                                                <td><span class="label label-warning">@item.ConditionStatus</span></td>

                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="problems">
                                                  
                                                  <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Condition</th>
                                                                <th>Effective Dates</th>
                                                                <th>Condition Status</th>
                                                                

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in patientdetails.problems) {

                                                            <tr>

                                                                <td>@item.Condition</td>
                                                                <td><span class="text-info">@item.EffectiveDates</span></td>

                                                                <td><span class="label label-warning">@item.ConditionStatus</span></td>

                                                            </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                  

                                                    </div>
                                                <div role="tabpanel" class="tab-pane" id="history">
                                                    <b>Father: @patientdetails.fatherHistory.Status </b>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Diagnosis</th>
                                                                <th>Age At Onset</th>
                                                            
                                                                

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in patientdetails.fatherHistory.history) {

                                                            <tr>

                                                                <td>@item.Diagnosis</td>
                                                               <td>@item.AgeAtOnset</td>
                                                                 </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                    <b>Mother: @patientdetails.motherHistory.Status </b>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Diagnosis</th>
                                                                <th>Age At Onset</th>
                                                             
                                                                

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in patientdetails.motherHistory.history) {

                                                            <tr>

                                                                <td>@item.Diagnosis</td>
                                                               <td>@item.AgeAtOnset</td>
                                                                 </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="timeline">
                                <div class="timeline-body">
                                    <div class="timeline m-border">
                                        <div class="timeline-item">
                                            <div class="item-content">
                                                <div class="text-small">Just now</div>
                                                <p>Discharge.</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">11:30</div>
                                                <p>Routine Checkup</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-warning border-l">
                                            <div class="item-content">
                                                <div class="text-small">10:30</div>
                                                <p>Operation </p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-warning">
                                            <div class="item-content">
                                                <div class="text-small">3 days ago</div>
                                                <p>Routine Checkup</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-danger">
                                            <div class="item-content">
                                                <div class="text--muted">Thu, 10 Mar</div>
                                                <p>Routine Checkup</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">Sat, 5 Mar</div>
                                                <p>Routine Checkup</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-danger">
                                            <div class="item-content">
                                                <div class="text-small">Sun, 11 Feb</div>
                                                <p>Blood checkup test</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">Thu, 17 Jan</div>
                                                <p>Admit patient ward no. 21</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="report-chart">
                                <h4>ECG Report</h4>
                                <div class="stats-row">
                                    <div class="stat-item col-blue">
                                        <h6>Pulse <b>76</b></h6></div>
                                    <div class="stat-item col-blush">
                                        <h6>BP <b>112</b></h6></div>
                                </div>
                                <div id="real_time_chart" class="flot-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>