
@model IEnumerable<M3dina.Models.PatientDetails>  
<div class="table-responsive">
 

                            <table class="table table-hover">
                                <thead>
                                    <tr>                                       
                                        <th>Media</th>
                                        <th>Patient ID</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                         <th class="hidden-sm">Current Facility</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
             @foreach (var item in Model) {
                                    <tr>
                                        <td><span class="list-icon"><img class="patients-img" src="assets/images/xs/avatar1.jpg" alt=""></span></td>
                                        <td><span class="list-name">@Html.DisplayFor(modelItem => item.PatientID)</span></td>
                                        <td>@Html.DisplayFor(modelItem => item.Patient.GivenName) @Html.DisplayFor(modelItem => item.Patient.FamilyName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Patient.Gender)</td>
                                   
                                        <td class="hidden-sm">@Html.DisplayFor(modelItem => item.currentFacility)</td>
                                        <td><span class="label label-info">New</span></td>
                                    </tr>
            }
                                   
                                </tbody>
                            </table>
    <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>PATIENTS Status</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <p><span class="label label-success">3 Admit</span>
                            <span class="label label-default">2 Discharge</span>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>PATIENTS</th>
                                        <th>ADDRESS</th>
                                        <th>START DATE</th>
                                        <th>END DATE</th>
                                        <th>PRIORITY</th>
                                        <th>PROGRESS</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 @foreach (var item in Model) {
                            <tr onclick="location.href = '@(Url.Action("PatientProfile", "Patient", new { ID = item.PatientID }))'">
                                        <td>1</td>
                                        <td><img src="assets/images/xs/avatar3.jpg" class="rounded-circle width30 m-r-15" alt="profile-image"><span>@Html.DisplayFor(modelItem => item.Patient.GivenName) @Html.DisplayFor(modelItem => item.Patient.FamilyName)</span></td>
                                        <td><span class="text-info"> @Html.DisplayFor(modelItem => item.PatientAddress.AddressLine1) @Html.DisplayFor(modelItem => item.PatientAddress.AddressLine2) @Html.DisplayFor(modelItem => item.PatientAddress.City), @Html.DisplayFor(modelItem => item.PatientAddress.State) @Html.DisplayFor(modelItem => item.PatientAddress.PostalCode)</span></td>
                                        <td>Sept 13, 2017</td>
                                        <td>Sept 16, 2017</td>
                                        <td><span class="label label-warning">MEDIUM</span></td>
                                        <td><div class="progress m-b-0 m-t-10">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"> <span class="sr-only">40% Complete</span> </div>
                                            </div>
                                        </td>
                                        <td><span class="label label-success">Admit</span></td>
                                    </tr>
                            }
                                    <tr>
                                        <td>2</td>
                                        <td><img src="assets/images/xs/avatar1.jpg" class="rounded-circle width30 m-r-15" alt="profile-image"><span>Jack Bird</span></td>
                                        <td><span class="text-info">123 6th St. Melbourne, FL 32904</span></td>
                                        <td>Sept 13, 2017</td>
                                        <td>Sept 22, 2017</td>
                                        <td><span class="label label-warning">MEDIUM</span></td>
                                        <td><div class="progress m-b-0 m-t-10">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only">100% Complete</span> </div>
                                            </div>
                                        </td>
                                        <td><span class="label label-default">Discharge</span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img src="assets/images/xs/avatar4.jpg" class="rounded-circle width30 m-r-15" alt="profile-image"><span>Dean Otto</span></td>
                                        <td><span class="text-info">123 6th St. Melbourne, FL 32904</span></td>
                                        <td>Sept 13, 2017</td>
                                        <td>Sept 23, 2017</td>
                                        <td><span class="label label-warning">MEDIUM</span></td>
                                        <td><div class="progress m-b-0 m-t-10">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;"> <span class="sr-only">15% Complete</span> </div>
                                            </div>
                                        </td>
                                        <td><span class="label label-success">Admit</span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><img src="assets/images/xs/avatar2.jpg" class="rounded-circle width30 m-r-15" alt="profile-image"><span>Jack Bird</span></td>
                                        <td><span class="text-info">4 Shirley Ave. West Chicago, IL 60185</span></td>
                                        <td>Sept 17, 2017</td>
                                        <td>Sept 16, 2017</td>
                                        <td><span class="label label-success">LOW</span></td>
                                        <td><div class="progress m-b-0 m-t-10">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> <span class="sr-only">100% Complete</span> </div>
                                            </div>
                                        </td>
                                        <td><span class="label label-default">Discharge</span></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><img src="assets/images/xs/avatar5.jpg" class="rounded-circle width30 m-r-15" alt="profile-image"><span>Hughe L.</span></td>
                                        <td><span class="text-info">4 Shirley Ave. West Chicago, IL 60185</span></td>
                                        <td>Sept 18, 2017</td>
                                        <td>Sept 18, 2017</td>
                                        <td><span class="label label-danger">HIGH</span></td>
                                        <td><div class="progress m-b-0 m-t-10">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"> <span class="sr-only">85% Complete</span> </div>
                                            </div>
                                        </td>
                                        <td><span class="label label-success">Admit</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                            
                    </div>
                </div>
            </div>
                        </div>