
@model IEnumerable<M3dina.Models.Patient>  
<div class="table-responsive">
 

                            <table class="table table-hover">
                                <thead>
                                    <tr>                                       
                                        <th>Media</th>
                                        <th>Patient ID</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                         <th class="hidden-sm">Current Facility</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
             @foreach (var item in Model) {
                                    <tr>
                                        <td><span class="list-icon"><img class="patients-img" src="assets/images/xs/avatar1.jpg" alt=""></span></td>
                                        <td><span class="list-name">@Html.DisplayFor(modelItem => item.patientId)</span></td>
                                        <td>@Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.gender)</td>
                                    
                                        <td class="hidden-sm">@Html.DisplayFor(modelItem => item.currentFacility)</td>
                                        <td><span class="label label-info">New</span></td>
                                    </tr>
            }
                                   
                                </tbody>
                            </table>
                        </div>